body {
    font-family: "Roboto", serif;
        font-optical-sizing: auto;
        font-weight: 900;
        font-style: normal;
        font-variation-settings:
          "wdth" 100;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
.header {
    height: 500px;
    background: #1F2937;
    color: #f9faf8;
    font-weight: 900;
    font-size: 48px;

  }
  
 .leftside{
    background: royalblue;
   
  }

.rightside {
    background: royalblue;
   
  }
  
    
ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 15px;
  gap: 16px
  }
  
a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
  }

button {
    background-color: #3882f6;
    size: 150pxs;
    /* make it round */
} 

img {
    max-width:100%;
    max-height: 100%;
}
  
.content {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: space-between; 
  }
  
.images-and-text {
    height: 450px;
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    justify-content: space-between; 
  }

.quote {
    height: 400px;
    background-color: #e5e7eb;
    display: flex; 
    flex-direction: row; 
    justify-content: space-evenly;
    text-align: flex-start;
    flex-wrap: wrap;
  }
  
.sign-up {
    height: 350px;
    background-color: #3882f6;

    display: flex;
  }

.footer {
    height: 72px;
    background: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
    text-align: center;
    padding-top: 15px;
  }